@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Vazir';
  src: url("/fonts/Vazir-Light.ttf");
  format: "ttf";
  font-weight: 300;
}

@font-face {
  font-family: 'Vazir';
  src: url("/fonts/Vazir.ttf");
  format: "ttf";
  font-weight: 500;
}

@font-face {
  font-family: 'Vazir';
  src: url("/fonts/Vazir-Bold.ttf");
  format: "ttf";
  font-weight: 700;
}

* {
  font-family: 'Vazir';
  direction: rtl;
}

#scroll::-webkit-scrollbar {
  height: 80%;
  position: absolute;
  right: 0;
  left: 100%;
  width: 5px;
  background-color: rgba(216, 216, 216, 0.623);
  border-radius: 8px;
}

#scroll::-webkit-scrollbar-thumb {
  background-color: rgba(77, 77, 77, 0.795);
  border-radius: 12px;
}

.ltr{
  direction: ltr;
}